@font-face {
    font-family: mostafa; src: url('/assets/fonts/poppins/Poppins-Regular.ttf');
}
.card-body {
    font-family: mostafa;
}
input#remember {
    margin: 1px 0 0 0;
}
.mostafa{
    display: flex;
    align-items: center;
}
body{
    font-family: Montserrat-Regular, sans-serif !important;
}
